.course-main{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    font-size: 2rem;
    width: 90%;
    justify-content: center;
    margin: 50px auto;
    gap: 20px;
}

.resim{
    width: 100%;
    height: 220px;
}

.card{
    border: 2px solid rgb(181, 173, 173);
    padding: 20px;
    border-radius: 10px;
    box-shadow:0 4px 20px rgba(0, 0, 0, 0.15);
}

.course-title{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.9rem;
    text-align: center;
}
.description{
    margin-top: 10px;
}
.price{
    display: flex;
    width: 90%;
    justify-content: right;
    font-size: 2.2rem;
    font-weight: bold;
    color: rgb(210, 5, 5);
}
.showMore{
    display: flex;
    margin: 20px auto;
    justify-content: center;
}
.showMoreChild{
    padding: 10px;
    border-radius: 100px;
    background-color: rgb(84, 138, 208);
    color: white;
    transition: 0.3s;
    text-align: center;
}
.showMoreChild:hover{
    background-color: rgb(54, 85, 125);
}

@media (max-width: 1176px) {
    .course-main {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}

/* ✅ Telefon görünümü - 1 sütun */
@media (max-width: 650px) {
    .course-main {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
    }
}