
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    transform: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20220313/pngtree-blue-sky-and-white-clouds-weather-hd-photography-background-material-image_1007862.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 1.6rem;
}

.firstContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    width: 100%;
    max-width: 600px;
    padding-right: 50px;
    padding-left: 50px;
    margin: 0 auto;
    padding-top: 40px;
}

.firstContainer h1 {
    font-size: 47px;
}

.secondContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 50px auto;
    background-color: rgba(121, 220, 231, 0.494);
    border-radius: 20px;
    padding: 40px;
    width: 80%;
    max-width: 500px;
}

.getCity{
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 50px;
    border: none;
    outline: none;
    text-align: center;
    background-color: rgb(223, 235, 246);
}
.isim{
    text-align: center;
    margin-bottom: 10px;
    font-size: 32px;
    color: rgb(56, 54, 54);
}
.search{
    padding: 10px;
    width: 120px;
    margin: 0 auto;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: rgb(197, 227, 255);
    transition: 0.2s;
    font-size: 1.2rem;
}

.search:hover{
    background-color: rgb(150, 200, 250);
    transform: scale(1.04);
}

.child{
    font-size: 24px;
}

@media(max-width: 700px){
    .firstContainer h1{
        font-size: 45px;
    }
    .isim{
        font-size: 31px;
    }
    .child{
        font-size: 21px;
    }
}

@media(max-width: 500px){
    .firstContainer{
        max-width: none;
        padding-right: 25px;
        padding-left: 25px;
    }
    .firstContainer h1{
        font-size: 40px;
    }
    .search{
        margin-bottom: 10px;
    }
    .secondContainer{
        padding: 25px;
    }
    .isim{
        font-size: 26px;
    }
    .child{
        font-size: 18px;
    }
}

