body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url(images/döviz.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
*{
    text-decoration: none;
    transform: none;
    box-sizing: border-box;
}