
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    max-width: 600px;
    min-width: 100px;
    margin: 0px auto;
    margin-top: 70px;
    border-radius: 20px;
    background-color: rgba(76, 77, 72, 0.800);
}
.container-child{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    color: white;
    text-align: center;
}
.amount{
    max-width: 100px;
    height: 50px;
    margin-right: 10px;
    border-radius: 20px;
    border: 1px solid rgb(75, 75, 77);
    text-align: center;
    font-size: 1.1rem;
    outline: none;
}
.first-option{
    padding: 6px;
    margin-right: 5px;
    font-weight: bold;
}
.second-option{
    padding: 6px;
    font-weight: bold;
}
.result{
    max-width: 100px;
    margin-left: 10px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid rgb(75, 75, 77);
    text-align: center;
    font-size: 1.1rem;
    outline: none;
}

.bigContainer{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 70px;
}

.convert-div{
    display: flex;
    justify-content: center;
    width: 10%;
    min-width: 140px;
    margin: 25px auto;
    height: 50px;
    border-radius: 50px;

}
.convert{
    width: 100%;
    border-radius: 50px;
    font-size: 1.4rem;
    background-color: rgb(93, 91, 91);
    transition: 0.3s;
    color: white;
}
.convert:hover{
    background-color: rgb(47, 46, 46);
}

@media(max-width: 500px){
    .amount{
        width: 70px;
    }
    .result{
        width: 70px;
    }
    .title{
        font-size: 26px;
    }
}


