body {
  background-image: url(background-img/todo-list-background.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  transform: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.todo-create {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 50px;
  align-items: center;
  gap: 20px;
}

.get-todo {
  width: 100%;
  padding: 12px 10px 12px 20px;
  border-radius: 20px;
  background-color: inherit;
}

.add-todo {
  padding: 8px 16px 8px 16px;
  border-radius: 15px;
  background-color: rgb(241, 212, 185);
  transition: 0.3s;
}

.add-todo:hover {
  background-color: rgb(222, 158, 115);
  transform: scale(1.1);
}

.todolist {
  background-color: rgba(155, 62, 25, 0.715);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  border-radius: 25px;
  margin-bottom: 12px;
  border: 3px solid brown;
  color: white;
  font-weight: bold;
  padding: 10px 40px 10px 30px;
}

.showTodoList {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 50px;
}

.input-wrapper{
  width: 100%;
}

.newInput {
  background-color: inherit;
  border: none;
  border-bottom: 2px solid white;
  width: 100%;
  color: white;
  outline: none;
}

.icons {
  display: flex;
}

.disabled-icon {
    opacity: 0.5;
    cursor: not-allowed !important;
    pointer-events: none;
}

.icons svg {
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  transition: 0.1s;
  margin-left: 12px;
}

.icons svg:hover {
  transform: scale(1.3);
}



@media(max-width: 780px) {
  .todo-create{
    padding-left: 0;
    padding-right: 0;
    width: 400px;
  }
  .showTodoList{
    margin-left: 50px;
    margin-right: 50px;
  }
  .todolist{
    padding: 10px 20px 10px 20px;
  }
}

@media(max-width: 560px) {
  .todo-create{
    width: 280px;
  }
  .showTodoList{
    margin-right: 25px;
    margin-left: 25px;
  }
}